<!DOCTYPE html>
<html>
  <head>
    <title>Fantasy Playoff Simulator</title>
    <style>
      h1, h2 {
        color: blue;
        font-family: Roboto;
        font-weight: normal;
      }
     #banner {
       width: 100%;
       object-fit: cover;
     }
    </style>
  </head>
  <body>
    <h1>Fantasy Playoff Basketball Simulator</h1>
    <img id="banner" src=https://testing-flask-project-1.seefm.repl.co/static/banner.jpeg.jpg>
    <h2>Get in the game</h2>
    <p>A few quick clicks and you'll create a fantastical 5 on 5 matchups, using real playoff performances!</p>
    <h3>Ready to go?</h3>
    <button>Draft Your Squad</button>
  </body>
</html>